<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/bower_components/peerjs/peer.js"></script>
    <script>
        // No API key required when not using cloud server
        var peer = new Peer('someid', {host: 'localhost', port: 9000, path: '/myapp'});
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>

