<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/bower_components/eventemitter2/lib/eventemitter2.js"></script>
    <script src="https://skyway.io/dist/0.3/peer.js"></script>
    <script src="/javascripts/models/neighbor.js"></script>
    <script src="/javascripts/models/peer_manager.js"></script>
    <script src="/javascripts/controller.js"></script>
    <script>
        // No API key required when not using cloud server
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>

